// $mobile-first: false; // non mobile first
// $breakpoint-start-default-feature: max-width; // non mobile first
// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 30px !default; // 1.875em; // too tall with larger title
$horz-spacing-unit: 15px !default; // 0.938em; // 

// 320 20.000em
// 480 30.000em

// 512px
$mini: 30.063em !default;

// 685 
$iphone-up: 42.813em !default;

$tab: 44em;
$tab-up: 44.063em !default;
$tab-max: 43.9999em !default;

// 768 
$ipad: 48em !default;
$ipad-up: 48.063em !default;

// 769 48.063em
// 1024
$ipad-landscape: 64em !default;

$breakpoint-start: 64em !default;

$desk: 65em !default;
$desk-max: 64.9999em !default;

$desk-large: 90em !default;
$desk-large-max: 89.9999em !default;

$grids: 4;
$grids: add-grid(12 at $tab);

$gutters: 1/3;

$max-fullwidth : 1366px !default;
$max-fullwidth-large : 1920px !default;

// Laptop up
$max-container: 1140px !default;
$max-outer: 1280px !default;

// 1400px up
$max-container-large: 1170px !default;
$max-outer-large: 1440px !default;

$edge-spacing       : 80px !default;
$edge-spacing-large : 114px !default;

// $slicer-breakpoints: 0 400px 600px 800px 1050px;
// Slice numbers:    |  1 |  2 |  3  |  4  |  5  ?

//$slicer-anti-overlap-corrections: 1px;
