/**
 * Form items
 */
.form--slick {
  .form-item {
    position: relative;

    .description {
      color: $grey;
    }

    .form-text,
    .form-select,
    .form-textarea {
      border: 1px solid $input-border;
      @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.07) inset);
      line-height: 22px;
      min-height: 22px;
      padding: 2px 5px;
      width: auto;

      .fieldset--compact & {
        width: 98%;
      }

      &:focus {
        border-color: $color-2;
        box-shadow: 0 0 7px $color-2;
      }
    }

    .form-select {
      line-height: 22px;
      padding: 1px 2px;
      vertical-align: middle;
      @include appearance(none !important);
      text-indent: .01px;
      text-overflow: "";
    }
  }

  .form-type-textfield {
    .field-prefix {
      float: left;
      padding: 5px;
    }
    .field-suffix {
      padding-left: 5px;
    }
  }

  /**
   * Overrides over-specified stuffs.
  */
  .form-item {
    background: white;
    @include background-image(linear-gradient(top, rgba(255,255,255,0.6) 0%, $lightest-grey 100%));
    border-bottom: 1px solid $input-border;
    border-top: 1px solid white;
    float: left;
    @include font-size(13px);
    line-height: 22px;
    margin: 0;
    min-height: 66px;
    padding: 20px 0 12px;
    width: 33.3333%;

    input,
    select {
      float: left;
      max-width: 140px;
      min-width: 40px;
    }

    label {
      float: left;
      padding: 5px 5px 5px 0 !important; /* Overrides over-specified Seven */
      width: 140px;
      text-align: right;
      white-space: normal;
    }

    label,
    label.option {
      font-weight: 400;
      line-height: 1;
    }
    
    &.form-type-textfield {
      input {
        width: auto;
        max-width: 140px;
      }
      .form-text--int {
        max-width: 50px;
      }

      .js-expandable {
        @include transition($transition-width);
      }

      &.js-on-focus {
        z-index: 3;
        .js-expandable {
          max-width: 280px;
          position: absolute;
          width: 280px;
          z-index: 2;
        }
      }
    }    
  }

  .form-type-checkbox input {
    min-height: 100%;
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .form-type-checkboxes {
    margin-bottom: -1px;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;

    > label {
      border-bottom: 1px solid lighten($light-grey, 5);
      border-top: 1px solid lighten($light-grey, 5);
      display: block;
      line-height: 42px;
      margin-top: -1px;
      min-height: 42px;
      padding-top: 20px;
      width: 100%;
    }
  }

  .vertical-tabs {

    // Build cell-like borders.
    .form-item {
      border-left: 1px solid lighten($light-grey, 5);
      border-right: 1px solid lighten($light-grey, 5);
      margin-left: -1px;
      &:nth-child(3n+1) {
        border-right: 0;
      }
    }

    .form-type-checkboxes {
      background: none;
      padding: 0;
      .form-item {
        margin: -1px -1px 0 0;
        padding-top: 20px;
        &:nth-child(3n+1) {
          border-left: 0;
        }
      }
    }

    // Hide the borders.
    .fieldset-wrapper {
      margin-right: -4px;
    }

    .fieldset-wrapper {
      padding: 0;
    }

    .fieldset--responsive > .fieldset-wrapper {
      padding: 0 15px;
    }

    /**
     * Prevent text inputs from overflowing when container is too narrow. "width" is
     * applied to override hardcoded cols or size attributes and used in conjunction
     * with "box-sizing" to prevent box model issues from occurring in most browsers.
     */
    /*
    .form-type-textfield {
      input {
        width: auto;
        max-width: 140px;
      }
      .form-text--int {
        max-width: 50px;
      }

      .js-expandable {
        @include transition($transition-width);
      }

      &.js-on-focus {
        .js-expandable {
          max-width: 280px;
          position: absolute;
          width: 280px;
          z-index: 2;
        }
      }
    }
    */

    .fieldset--responsive {
      .form-item {
        input,
        select {
          max-width: 100px;
        }
        .form-checkbox {
          max-width: 100%;
        }
      }
    }
  }
}


/**
 * Overrides
 */
.form--slick {
  .fieldset-wrapper div[class*="-breakpoint"] {
    background: none;
    border: 0;
    clear: both;
    float: none;
    width: 100%;
  }

  .form-item.form-type-checkboxes {
    clear: both;
    float: none;
    width: 100%;
    > label {
      clear: both;
      float: none;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
  }

  .fieldset--no-checkboxes-label {
    .form-item.form-type-checkboxes {
      > label {
        @include visually-hidden;
      }
    }
  }
}

#edit-label-machine-name-suffix {
  padding-left: 5px;
}

@media screen and (max-width: 1200px) {
  .form--slick {
    .form--field,
    .vertical-tabs-panes {
      .form-item {
        float: left;
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .form--slick {
    .form--field,
    .vertical-tabs-panes {
      .form-item {
        min-height: 78px;
        padding: 10px 15px;
        width: 50%;

        label {
          float: none;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .form--slick {
    .form--field,
    .vertical-tabs-panes {
      .form-item input,
      .form-item select,
      .form-type-textfield input {
        max-width: 200px;
        // width: auto;
      }
      .form-item {
        &:nth-child(3n+1) {
          border-left: 1px solid lighten($light-grey, 5);
        }
        &:nth-child(3n+1) {
          border-right: 1px solid lighten($light-grey, 5);
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .form--slick {
    .form--field,
    .vertical-tabs-panes {
      .form-item {
        min-height: 76px;
        padding: 10px 15px;
        width: 100%;

        label,
        label.option {
          float: left;
          text-align: right;
          font-weight: 400;
          line-height: 22px;
          width: 120px;
        }
        .form-item input,
        .form-item select,
        .form-type-textfield input {
          display: block;
          float: none;
          margin: 0 auto;
          max-width: 200px;
          width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .form--slick {
    .form--field,
    .vertical-tabs-panes {
      .form-item {
        display: block;
        margin: 0 auto;
        min-height: 76px;
        padding: 10px 15px;
        width: 100%;

        label {
          display: block;
          float: none;
          text-align: center;
          width: auto;
        }

        .form-type-checkbox input {
          left: auto;
        }
      }
    }
  }

  .form--slick__header .field-suffix {
    display: block;
    text-align: center;
  }

  html #page   {
    margin: 0 10px;
  }
}


